.filters-pane-container {
  flex-shrink: 0;

  .filters-pane-fixed-content {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    display: flex;

    &.visible {
      padding: 16px 24px;
    }

    &.hidden {
      padding: 0;
    }
  }
}
