@import "../../../../../../styles/colors.scss";

.order-item-card-container {
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  border: 1px solid $gray-04;
  row-gap: 32px;
  flex-direction: column;
}

.home-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $gray-05;
}

.products-container {
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: start;
  justify-items: start;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 15px 10px;
  margin-top: 10px;
}