@import "../../../../styles/colors.scss";

.navbar-container {
  position: sticky;
  top: 0px;
  z-index: 3;
  height: 70px;
  .navbar-content-container {
    height: 100%;
    margin-block-end: 0px;
    background-color: $white;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
