@import "../../../../../../../styles/colors.scss";

.address-card-container {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 24px;
    border-radius: 16px;
    transition: all 0.1s ease-in-out;
    border: 1px solid $gray-04;
    display: flex;
    column-gap: 16px;
    justify-content: space-between;

    &.selected {
        &.clickable {
            border: 1px solid $blue-05;
        }
    }

    &:not(&.loading) {
        &:not(.selected) {
            &.clickable {
                cursor: pointer;
            }
        }
    }

    &:hover {
        &:not(&.selected) {
            &.clickable {
                border: 1px solid $blue-06;
                background-color: $gray-06;
            }
        }
    }
}

.remove-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $gray-05;
}
