$white: #ffffff;
$black: #000000;

$blue-01: #006bb6;
$blue-02: #0094da;
$blue-03: #00a1e6;
$blue-04: #b3e5fc;

$yellow-01: #ffd600;
$yellow-02: #ffeb3b;
$yellow-03: #ffee58;
$yellow-04: #fff9c4;

$orange-01: #e64a19;
$orange-02: #ff5722;
$orange-03: #ff7043;
$orange-04: #ffccbc;

$gray-01: #1a1a1a;
$gray-02: #616161;
$gray-03: #9e9e9e;
$gray-04: #f5f5f5;

$green-01: #388e3c;
$green-02: #4caf50;
$green-03: #81c784;
$green-04: #c8e6c9;

$red-01: #d32f2f;
$red-02: #f44336;
$red-03: #e57373;
$red-04: #ffcdd2;
