@import "../../styles/colors.scss";

.general-side-pane-wrapper-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $gray-01, $alpha: 0);
  pointer-events: none;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  &.active {
    pointer-events: auto;
    background-color: rgba($color: $gray-01, $alpha: 0.3);
    position: fixed;
  }

  .general-side-pane-content {
    width: 550px;
    height: 100%;
    overflow: hidden;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    overflow: auto;
    &.active {
      transform: translateX(0);
    }

    .side-pane-content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: white;

      .side-pane-header-container {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        background-color: white;
        margin-bottom: 16px;
      }

      .side-pane-content {
      }
    }
  }
}
